body { 
    margin: 0; 
    height: 100vh;
}
  
@font-face {
    font-family: 'SFDistantGalaxy';
    src: url('SFDistantGalaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#score {
    position: absolute;
    left: 0;
    top: 0;
    width: 18%;
    height: fit-content;
    font-size: 20pt;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 0.5rem;
    font-family: 'SFDistantGalaxy';
    margin-left: 0.5rem;
}

#score #title{
    font-weight: bold;
}
.line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 0.5rem 0;
  }

canvas { 
    display: block;
}